@import './styles/Tokens.css';
@import './styles/Reset.css';
@import './styles/General.css';
@import './styles/Design.css';
@import './styles/Sections.css';
@import './styles/TemplateKit.css';
@import './styles/templates/Headers.css';
@import './styles/templates/Cards.css';
@import './styles/Components.css';
@import './styles/Queries.css';


.app {
  min-height: 100dvh;
}

main > section:not(.hero-section) {
  padding: var(--section-padding-md) var(--container-padding);
}

@media (max-width: 720px) {
  main > section:not(.hero-section) {
    padding: var(--space-64) var(--space-24);
  }
}
